/*
 * @Author: Mr Jiang.Xu 
 * @Date: 2019-06-27 10:54:30 
 * @Last Modified by:   Mr Jiang.Xu 
 * @Last Modified time: 2019-06-27 10:54:30 
 */

.xj-wrap {
    position: relative;
    display: inline-block;
    border: 1px dashed #888;
    width: 200px;
    height: 200px;
    border-radius: 6px;
    overflow: hidden;
}
.xj-wrap::before {
    content: '+';
    font-size: 36px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #ccc;
}
.xj-wrap .xj-pre-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.xj-file {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}